/* Scatter plot */
.scatter-plot-frame {
    height: 600px
}

.bar-chart-frame {
    height: 400px;
    width: 100%;
    /* overflow: hidden; */
}

@media screen and (max-width: 900px) {
    .bar-chart-frame {
        height: 1300px;
    }
}

#header-image {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
}


#header-image img {
    width: 2000px;
    height: 350px;
    left: 50%;
    margin-left: -1000px;
    margin-top: -100px;
    position: absolute;
}

.attribute-info-paragraph {
    text-indent: 20px;
}

#wrapper-outer {
    width: 100%;
    height: 100%;
    /* border: 3px dashed violet; */
}

#wrapper-inner {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#navbar {
    border: none;
    padding-top: 60px;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

#dummy-navbar {
    display: inline-block;
    padding-top: 60px;
    height: 20px;
    /* Doesn't matter, anything >= 1px works */
    /* background-color: black; */
}

#app-container {
    display: inline-block;
    height: 98%;
    white-space: normal;
    /* background-color: rgba(0, 255, 0, 0.5); */
}

#display-size {
    /* z-index: 999999;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white; */
    display: none;
}

/* @media screen and (max-width: 800px) {
    #user-window {
        background-color: rgba(0, 0, 0, 0.5)
    }
} */

#header {
    position: sticky;
    top: 0px;
    margin-top: 0px;
    height: 60px;
    z-index: 9999;
    background-color: white;
}

#drawer-header {
    height: 60px;
}

.hamburger-menu {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    margin-left: 22px;
    position: relative;
    float: left;
    z-index: 99999;
    /* background-color: yellow; */
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    position: relative;
    float: left;
    z-index: 99999;
    /* background-color: blue; */
}

.logo img {
    width: 150px;
    height: 50px;
}

#page-title-container {
    text-align: center;
    /* position: absolute;
    width: 100vw; */
    position: static;
    width: 100%;
    height: 60px;
    right: 0;
    /* background-color: rgba(200, 0, 0, 0.4); */
}

@media screen and (max-width: 1550px) {
    #page-title-container {
        position: static;
        width: 100%;
        /* background-color: rgba(0, 200, 0, 0.4); */
    }
}

.page-container {
    width: 98%;
    height: 99%;
    margin: auto;
    /* background-color: rgba(255, 0, 0, 0.4); */
}

@media screen and (max-width: 1000px) {
    .page-container {
        width: 97%;
    }
}

@media screen and (max-width: 850px) {
    .page-container {
        width: 96%;
    }
}

@media screen and (max-width: 700px) {
    .page-container {
        width: 95%;
    }
}

#introduction-container {
    overflow: hidden;
    background-color: rgba(12, 140, 196, 0.2);
    border: 4px solid rgb(12, 140, 196);
    /* width: calc(100vw - 272px); */
    float: right;
}

#attribute-info-block {
    overflow: hidden;
    background-color: rgba(12, 140, 196, 0.2);
    border: 4px solid rgb(12, 140, 196);
    /* width: calc(100vw - 272px); */
    float: right;
}

#footer {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}